input[type="checkbox"] {
    display: none;
}
  
input[type="checkbox"] + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    width: 50%;
    margin: 5px;
    color: rgba(125,125,125, 1);
    background-color: #fff;
    border:solid 2px rgba(125,125,125, 1);
    padding: 0.5rem 2rem;
    display: inline-block;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  
input[type="checkbox"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #f1c40f; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-color:#f1c40f;
}