<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Eatender</title>
    <meta property="og:title" content="Eatender"/>
    <meta property="og:description" content="{專案簡介}"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="https://eatender.site.com/"/>
    <meta property="og:image" content="{{url_for('static', filename='images/logo.png')}}"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.png')}}">
    <link href="{{url_for('static', filename='css/404.css')}}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-3.3.1.min.js')}}" language="javascript"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.png')}}">
</head>
<body>
  <section class="error-body">
    <video preload="auto" class="background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/err.mp4" autoplay muted loop></video>
    <div class="message">
      <h1 t="404">404</h1>
      <div class="bottom">
        <p>找不到目標...</p>
        <button class="cybr-btn", onclick="location.href='./'">
          <span aria-hidden>返回首頁</span>
          <span aria-hidden class="cybr-btn__glitch">返回首頁</span>
          <span aria-hidden class="cybr-btn__tag">.</span>
        </button>
      </div>
    </div>
  </section>
</body></html>