<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Eatender</title>
    <meta property="og:title" content="Eatender"/>
    <meta property="og:description" content="{專案簡介}"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="https://eatender.site.com/"/>
    <meta property="og:image" content="./static/images/logo.png"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="./static/images/logo.png">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css">
    <link rel="stylesheet" href="./static/css/about.css">
</head>
<body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script type="text/javascript" src="./static/scripts/about.js"></script>

    <!-- Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header">
    <div class="main_nav">
      <div class="container">
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav>
          <ul>
            <li><a class="smoothscroll" href="#about">簡介</a></li>
            <li><a class="smoothscroll" href="#team">團隊介紹</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="title">
      <div><span class="typcn typcn-heart-outline icon heading"></span></div>
      <div class="smallsep heading"></div>
      <h1 class="heading">Eatender</h1>
      <h2 class="heading">{Slogan}</h2>
      <a class="smoothscroll" href="#about">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      </a> </div>
    <a class="smoothscroll" href="#about">
    <div class="scroll-down"></div>
    </a> </header>
    
  <!-- About Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
    
  <section id="about">
    <div class="container">
      <div class="row">
        <h1>簡介</h1>
        <div class="block"></div>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="row">
        <div class="row">
          <div class="six columns">
            <h3><span class="typcn typcn-cog-outline icon"></span>現在</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="six columns">
            <h3><span class="typcn typcn-lightbulb icon"></span>未來</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Team Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  
  <section id="team">
    <div class="container">
      <div class="row">
        <h1>團隊介紹</h1>
        <div class="block"></div>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="row">
        <div class="four columns"> <img src="https://i.imgur.com/s17I3hu.png" width="220" height="220" alt=""/>
          <h4>鄭鈞瀚</h4>
          <p>Software/System Engineer</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
        <div class="four columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
          <h4>蔡昊辰</h4>
          <p>Dev</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
        <div class="four columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
          <h4>何以恩</h4>
          <p>PM</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="four columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
          <h4>曾莉晴</h4>
          <p>UI/UX</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
        <div class="four columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
          <h4>陳家薇</h4>
          <p>QA/UX</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
        <div class="four columns"> <img src="http://placehold.it/220x220" width="220" height="220" alt=""/>
          <h4>陸品瑄</h4>
          <p>QA/UX</p>
          <span class="typcn typcn-social-facebook-circular icon"></span><span class="typcn typcn-social-instagram-circular icon"></span><span class="typcn typcn-social-google-plus-circular icon"></span><span class="typcn typcn-social-linkedin-circular icon"></span> </div>
      </div>
    </div>
  </section>
  

</body></html>