<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>LINE Notify綁定成功</title>
    <meta property="og:title" content="EATender" />
    <meta property="og:description" content="加LINE約吃飯，感情不會散" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="https://eatender.site.com/" />
    <meta property="og:image" content="./static/images/logo.png" />
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="./static/images/logo.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8XVRR4RQHN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8XVRR4RQHN');
    </script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="./static/js/bound_notify.js"></script>
</body>

</html>