<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>EATender</title>
    <meta property="og:title" content="EATender"/>
    <meta property="og:description" content="加LINE約吃飯，感情不會散"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="https://eatender.site.com/"/>
    <meta property="og:image" content="./static/images/logo.png"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="./static/images/logo.png">
    <link href="./static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="./static/css/reset.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" language="javascript"></script>
    <link href="./static/css/landing.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="./static/images/logo.png">
</head>
<body>

<div id="header">
    <div class="max-container cf">
        <a href="/" id="header-logo"><img src="./static/images/logo.png" alt="Eatender" id="header-logo-img"><img src="./static/images/logo.png" id="header-logo-img-small" style="display:none;"></a>
        <ul id="header-nav">
            <li class="header-nav-item ct1"><a href="/about">關於</a></li>
        </ul>
    </div>
</div>

<!-- COVER -->
<div id="cover" class="animated fadeIn"></div>
<!-- END COVER -->

<!-- HERO -->
<div id="center-table">
    <div id="center-cell">
        <div id="hero-container" class="cf animated fadeInUp">
            <div id="hero-content">
                <img src="./static/images/logo.png" width="72" height="72" id="hero-icon" style="border-radius:50px;">
                <h1 id="hero-title" class="ct1">EATender</h1>
                <p id="hero-message" class="ct1">加LINE約吃飯<br/>感情不會散</p>
                <div id="hero-stores">
                    <a href="https://lin.ee/0nShEox"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" class="hero-store-badge" width="181"></a>
                </div>
            </div>
            <div id="hero-device">
                <div id="hero-device-screen">
                    <img src="./static/images/phone.png" class="screen">
                </div>
            </div>
            <br style="clear:both;">
        </div>
    </div>
</div>
</body></html>