<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Eatender</title>
      <meta property="og:title" content="Eatender"/>
      <meta property="og:description" content="{專案簡介}"/>
      <meta property="og:type" content="product"/>
      <meta property="og:url" content="https://eatender.site.com/"/>
      <meta property="og:image" content="./static/images/logo.png"/>
      <meta name="HandheldFriendly" content="true">
      <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
      <link rel="shortcut icon" href="./static/images/logo.png">
   </head>
   <body>
      <!-- Jquery -->
      <script src="./static/scripts/jquery-3.3.1.min.js"></script>
      <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
      <script type="text/javascript" src="./static/scripts/login.js"></script>
      <input id="pull_id" type="hidden" value={{ pull_id }} />
   </body>
</html>