<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>EATender</title>
      <meta property="og:title" content="EATender"/>
      <meta property="og:description" content="加LINE約吃飯，感情不會散"/>
      <meta property="og:type" content="product"/>
      <meta property="og:url" content="https://eatender.site.com/"/>
      <meta property="og:image" content="./static/images/logo.png"/>
      <meta name="HandheldFriendly" content="true">
      <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
      <link rel="shortcut icon" href="./static/images/logo.png">
      <link href="./static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
      <link href="./static/css/restaurant.css" rel="stylesheet" type="text/css">
      <style type="text/css">.fxC3 { color: #666666 !important; } .fxC2 { color: #999999 !important; } .fxC1 { color: #ff0000 !important; } .fxC0 { color: #00ff00 !important; } .LyGi { width: 100%; max-width: 500px; min-width: 0;} .LyMe { width: 100%; max-width: 300px; min-width: 0;} .LyKi { width: 100%; max-width: 260px; min-width: 0;} .LyMi { width: 100%; max-width: 160px; min-width: 0;} .LyNa { width: 100%; max-width: 120px; min-width: 0;} </style>
      <link rel="stylesheet" type="text/css" href="./static/css/main.css">
   </head>
   <body>
      <!-- Jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script type="text/javascript" src="./static/scripts/restaurant.js"></script>
      <input id="restaurant_count" type="hidden" value={{ data|length }} />
      <input id="pull_id" type="hidden" value={{ pull_id }} />
      <input id="user_name" type="hidden" value={{ name }} />
      <div class="tinder">
         <div class="tinder--status">
            <i class="fa fa-times"></i>
            <i class="fa fa-heart"></i>
         </div>
         <div id="cardWrapper" class="tinder--cards">
            {% for i in data %}
            <div class="tinder--card">
               <div class="T1 fxLTR" dir="ltr">
                  <div class="t1Header">
                     <div class="MdBx vr" id="7f6b6d4c-a7d1-4c00-ad27-3dc10640e659" style="padding:0px;">
                        <div class="MdBx hr" id="981434e3-d9af-4e42-9c68-82c1247c7e76">
                           <div class="ExCover MdImg ExFull" id="4a92bd98-dc4d-4623-9426-b78972cfd8b7">
                              <div><a style="padding-bottom:65%;"><span style="background-image:url('{{i.photo_url}}');"></span></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="t1Body">
                     <div class="MdBx vr" id="a4f7f781-23b9-48c6-a019-161f3b4d2b90">
                        <div class="MdBx hr bl" id="0cb132a1-0dc2-4d6e-bd54-c0caaa38161a">
                           <div class="MdTxt ExFntStyNml ExXl fl0 ExWrap ExWB" id="b0e7f56f-2a7e-4953-856f-07a7ca1b9c50">
                              <p>{{i.name}}</p>
                           </div>
                        </div>
                        <div class="MdBx hr bl ExTMd" id="0b7e4af2-1e8e-471c-87ed-f33abd48476a">
                           <div class="MdTxt fl0 ExSm fxC0" id="b778ae34-fff4-4575-aeb2-17bdc82a0de1">
                              <p>評價: {{i.rating}}</p>
                           </div>
                           <div class="fxC1 MdTxt ExMgnLMd fl0 ExSm" id="55474180-3979-4d02-bf60-f55bfe0e092f">
                              <p>平均價位: ${{i.price}}</p>
                           </div>
                        </div>
                        <div class="MdBx hr bl ExTMd ExMgnTLg" id="03575cf1-e437-46de-bac1-30389a037ccf">
                           <div class="fxC2 MdTxt fl0 ExSm" id="2378b2fc-6c8e-40c9-91f6-0609a7af4abc">
                              <p>評論</p>
                           </div>
                           <div class="fxC2 MdTxt fl0 ExSm ExMgnLXl" id="1c520d53-4206-4f0f-bbc5-4d1f121e2196">
                              <p>{{i.keywords[0]}}</p>
                           </div>
                           <div class="fxC2 MdTxt ExMgnLMd fl0 ExSm" id="22108ab6-f36f-4999-ab14-dc4b2cdc42c0">
                              <p>{{i.keywords[1]}}</p>
                           </div>
                           <div class="fxC2 MdTxt ExMgnLMd fl0 ExSm" id="315ffc1c-813f-45a9-baf6-effab38d8773">
                              <p>{{i.keywords[2]}}</p>
                           </div>
                        </div>
                        <div class="spcSm MdBx vr ExMgnTLg" id="9a0dcf56-1454-46e1-9a21-a3b6d1f38f5c">
                           <div class="spcSm ExTLg MdBx hr bl ExBdrWdtBld" id="c270e5a6-2010-4629-b167-0755619690c1">
                              <div class="MdTxt fxC3 ExSm fl2" id="6c85a12a-6d49-4001-8773-921f263e52d6">
                                 <p>地點</p>
                              </div>
                              <div class="MdTxt fxC3 ExSm ExWrap" id="ced78b13-d57e-467a-bc9d-5808597545d4" style="-webkit-box-flex:6; flex-grow:6;">
                                 <p>{{i.address}}</p>
                              </div>
                           </div>
                           <div class="spcSm MdBx ExBLg hr bl ExBdrWdtBld ExTSm" id="028fe3c0-74d7-4d8f-ab5a-463215095a15">
                              <div class="MdTxt fxC3 ExSm fl2" id="bbe15a22-7e7c-4dee-bc34-95cfc5588c80">
                                 <p>電話</p>
                              </div>
                              <div class="MdTxt fxC3 ExSm ExWrap" id="83f9b9b6-3c9d-4011-9df4-9df44be5e250" style="-webkit-box-flex:6; flex-grow:6;">
                                 <p>{{i.phone_number}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
         <div class="tinder--buttons">
            <button id="nope"><i class="fa fa-times"></i></button>
            <button id="love"><i class="fa fa-heart"></i></button>
         </div>
      </div>
   </body>
</html>