<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>分享投票</title>
    <meta property="og:title" content="EATender" />
    <meta property="og:description" content="加LINE約吃飯，感情不會散" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="https://eatender.site/" />
    <meta property="og:image" content="./static/images/logo.png" />
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="./static/images/logo.png">

    <link rel="stylesheet" href="./static/css/share.css" />
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/versions/2.3.0/sdk.js"></script>
    <script src="./static/scripts/share.js"></script>

    <div class="wrapper">
        <div class="container">
            <img src="./static/images/logo.png"/>
            <h1 style="text-align: center;">分享給朋友</h1>

            <div class="form">
                <button type="submit" id="btnShare">分享</button>
            </div>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>