<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta n:00ame="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>VueJS Calender</title>

		<link href="{{url_for('static', filename='css/demo.css')}}" rel='stylesheet'>
		<script src="https://momentjs.com/downloads/moment.js"></script>
	</head>

	<body>		
		<div id="demo-container">
			<calender
			@push="push"
			@pull="pull"
			@pull_overlay="pull_overlay"
			></calender>
		</div> <!-- container -->
	</body>

	<script src="https://vuejs.org/js/vue.js"></script>
	<script src="{{url_for('static', filename='vue/calender.vue')}}" type="vue"></script>
	<script src="{{url_for('static', filename='scripts/vueify.js')}}"></script>
	<script>
		Vue.use(Vueify);
		var app = new Vue({
			el: '#demo-container',
			methods: {

				// pull overlay data from server
				pull_overlay: function(from_date, to_date, resolve, reject) {
					from_date = from_date.format('YYYY-MM-DD');
					to_date = to_date.format('YYYY-MM-DD');
					var xhr = new XMLHttpRequest();
					xhr.onload = function() {
						if (this.status>=200 && this.status<=300) {
							var spans_remote = JSON.parse(this.responseText);
							console.log("fetched overlay", spans_remote);
							resolve(spans_remote);
						} else {
							reject(this.status);
						}
					};
					xhr.open("GET", `api/calendar_overlay?from=${from_date}&to=${to_date}`);
					xhr.setRequestHeader('Content-Type', 'application/json');
					xhr.send();
				},

				// push to server
				push: function(spans) {
					var xhr = new XMLHttpRequest();
					xhr.onload = function() {
						// one-way sync, we don't care about server's return
						console.log("pushed", JSON.parse(this.responseText));
					};
					xhr.open("PUT", "api/calendar");
					xhr.setRequestHeader('Content-Type', 'application/json');
					xhr.send(JSON.stringify(spans));
				},

				// pull from server
				pull: function(from_date, to_date, resolve, reject) {
					from_date = from_date.format('YYYY-MM-DD');
					to_date = to_date.format('YYYY-MM-DD');
					var xhr = new XMLHttpRequest();
					xhr.onload = function() {
						if (this.status>=200 && this.status<=300) {
							var spans_remote = JSON.parse(this.responseText);
							console.log("fetched", spans_remote);
							resolve(spans_remote);
						} else {
							reject(this.status);
						}
					};
					xhr.open("GET", `api/calendar?from=${from_date}&to=${to_date}`);
					xhr.setRequestHeader('Content-Type', 'application/json');
					xhr.send();
				}
			}
		});
	</script>
	<script src="{{url_for('static', filename='scripts/demo.js')}}"></script>
</html>

