<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Eatender</title>
    <meta property="og:title" content="Eatender"/>
    <meta property="og:description" content="{專案簡介}"/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="https://eatender.herokuapp.com/"/>
    <meta property="og:image" content="{{url_for('static', filename='images/logo.png')}}"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.png')}}">
    <link href="{{url_for('static', filename='css/fontawesome-all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/restaurant.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- Jquery -->
  <script src="{{url_for('static', filename='scripts/jquery-3.3.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/hammer.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='scripts/restaurant.js')}}"></script>
  <div class="tinder">
    <div class="tinder--status">
      <i class="fa fa-times"></i>
      <i class="fa fa-heart"></i>
    </div>
  
    <div id="cardWrapper" class="tinder--cards">
      {% for i in data %}
      <div class="tinder--card">
        <img src="{{ i.url }}">
        <h3>{{ i.name }}</h3>
        <p>This is a demo for restaurant data cards</p>
      </div>
      {% endfor %}
    </div>
  
    <div class="tinder--buttons">
      <button id="nope"><i class="fa fa-times"></i></button>
      <button id="love"><i class="fa fa-heart"></i></button>
    </div>
  </div>
</body></html>